* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -60px;
  background-color: #F7F7FF;
}

.push {
  height: 60px;
}

nav, footer {
  width: 100%;
  background-color: #545FEC;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

footer {
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
  color: #404040;
  z-index: 100;
}

.main {
  margin: 60px 0;
}

.chunky {
  /*position: relative;*/
  border-bottom: 3px solid #88E58D;
}

/*.chunky:after {
  content: "";
  position: absolute;
  bottom: 0.1rem;
  left: -.5rem;
  right: 0;
  height: 1rem;
  z-index: -1;
  background-color: #88E58D;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}*/

.lead {
  color: #404040;
  margin-bottom: 30px;
}

a i {
  color: #fff;
  padding: 0 4px;
}

a i:hover {
  opacity: 0.7;
}

.center {
  text-align: center;
}

.virus {
  color: #88E58D;
  margin-left: 16px;
}

.stats {
  background-color: #88E58D;
  color: #404040;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 60%;
}

.stats div {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 10px;
}

.stats span {
  color: #fff;
}

/*Media queries*/

@media only screen and (max-width: 414px) {
/*  .chunky:after {
    height: 0.8rem;
  }
*/
  .lead {
    text-align: center;
    padding: 10px 40px;
  }

  .virus {
    margin-left: 4px;
  }

  .stats div {
    padding: 18px;
    margin-bottom: 12px;
  }

  .grid-item span {
    font-size: 14px;
  }

  .grid-item p {
    font-size: 14px;
  }
}
