* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #F7F7FF;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: 40px;
  color: #404040;
}

.main {
  margin: 60px 0;
}

.chunky {
  position: relative;
}

.chunky:after {
  content: "";
  position: absolute;
  bottom: 0.1rem;
  left: -.5rem;
  right: 0;
  height: 1rem;
  z-index: -1;
  background-color: #88E58D;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}

.lead {
  color: #404040;
  margin-bottom: 20px;
}

nav, footer {
  width: 100%;
  background-color: #545FEC;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

a i {
  color: #fff;
  padding: 0 4px;
}

a i:hover {
  opacity: 0.7;
}

footer {
  text-align: center;
  justify-content: center;
}

.center {
  text-align: center;
}

.virus {
  color: #88E58D;
  margin-left: 16px;
}

.stats {
  background-color: #88E58D;
  color: #404040;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 32px;
  max-width: 60%;
  flex-wrap: wrap;
}

.stats span {
  color: #fff;
}

/*Media queries*/

@media only screen and (max-width: 375px) {
  .chunky:after {
    height: 0.8rem;
  }

  .lead {
    font-size: 10px;
    text-align: center;
    padding: 10px 40px;
  }

  .virus {
    margin-left: 4px;
  }

  .stats {
    margin-top: 20px;
    /*display: grid;
    grid-template-columns: 1fr;*/
    flex-direction: column;
  }

  .stats div {
    padding: 18px;
  }
}
